<a href="https://colab.research.google.com/github/wyjun1988/dataScience/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Series

In [2]:
s = pd.Series([500,300,400,200], index=['seoul','pusan','incheon','daegu'])

In [3]:
s

seoul      500
pusan      300
incheon    400
daegu      200
dtype: int64

In [4]:
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [5]:
s.index

Index(['seoul', 'pusan', 'incheon', 'daegu'], dtype='object')

In [7]:
s.values

array([500, 300, 400, 200])

In [8]:
s.name = "population"
s.index.name="city"
s

city
seoul      500
pusan      300
incheon    400
daegu      200
Name: population, dtype: int64

In [9]:
s*10

city
seoul      5000
pusan      3000
incheon    4000
daegu      2000
Name: population, dtype: int64

In [10]:
s[1]

300

In [11]:
s['pusan']

300

In [13]:
s[[2,0,1]]

city
incheon    400
seoul      500
pusan      300
Name: population, dtype: int64

In [16]:
(250<s) & (s<=400)

city
seoul      False
pusan       True
incheon     True
daegu      False
Name: population, dtype: bool

In [17]:
s[[True, False, True, True]]

city
seoul      500
incheon    400
daegu      200
Name: population, dtype: int64

In [18]:
s[0:2]

city
seoul    500
pusan    300
Name: population, dtype: int64

In [19]:
s.pusan

300

In [20]:
"seoul" in s

True

In [21]:
for k, v in s.items():
  print(f"{k} = {v}")

seoul, = 500
pusan, = 300
incheon, = 400
daegu, = 200

In [25]:
s2 = pd.Series([600,200,500,100], index=['seoul','pusan','incheon','daegeon'])

In [26]:
ds = s2 - s
ds

daegeon      NaN
daegu        NaN
incheon    100.0
pusan     -100.0
seoul      100.0
dtype: float64

In [27]:
ds[ds.notnull()]

incheon    100.0
pusan     -100.0
seoul      100.0
dtype: float64

In [28]:
del ds["seoul"]

In [29]:
ds

daegeon      NaN
daegu        NaN
incheon    100.0
pusan     -100.0
dtype: float64

In [30]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [31]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [32]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [33]:
df.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [35]:
df.index.name = 'city'
df.columns.name = 'properties'
df

properties   지역     2015     2010     2005     2000  2010-2015 증가율
city
서울          수도권  9904312  9631482  9762546  9853972         0.0283
부산          경상권  3448737  3393191  3512547  3655437         0.0163
인천          수도권  2890451  2632035  2517680  2466338         0.0982
대구          경상권  2466052  2431774  2456016  2473990         0.0141

In [36]:
df['지역']

city
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [37]:
df[['지역']]

properties   지역
city
서울          수도권
부산          경상권
인천          수도권
대구          경상권

In [39]:
df[:1]

properties   지역     2015     2010     2005     2000  2010-2015 증가율
city
서울          수도권  9904312  9631482  9762546  9853972         0.0283

In [40]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [41]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [42]:
df['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [43]:
df[['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [45]:
df['평균'] = (df['국어']+df['영어']+df['수학'])/3
df

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [47]:
df['영어']['방자'] = 80
df['평균'] = (df['국어']+df['영어']+df['수학'])/3
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    국어  영어  수학         평균
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  60.000000

In [54]:
df[:1]

    국어  영어  수학         평균
춘향  80  90  90  86.666667

In [64]:
type(df.loc['향단'])

pandas.core.series.Series